<h1 mat-dialog-title>Editar</h1>

<div mat-dialog-content>

  <form autocomplete="off" novalidate [formGroup]="actionForm" (ngSubmit)="submit('save', $event)">
  
    <mat-form-field>
      <input type="text" matInput placeholder="Nombre" #name maxlength="50" formControlName="name">
      <mat-hint align="end">{{name.value.length}}/50</mat-hint>
    </mat-form-field>

    <div class="editTableBox">
      <div class="bar">
        <div class="title">Seleccionar las acciones para el "Nivel de elemento de catalogo"</div>
      </div>

      <div class="tableData" [hidden]="!(pageParameters.pageStatus == 'data')">
        
        <table #tablaAttrs mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel()"                            
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null">                  
              </mat-checkbox>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="width100px"> ID </th>
            <td mat-cell *matCellDef="let element" class="width100px"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="forCatalogue">
            <th mat-header-cell *matHeaderCellDef> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aplica a elementos de catálogo </th>
            <td mat-cell style="text-align:center" *matCellDef="let element"> <input type="checkbox" [name]="'forCatalogue-' + element.id" [id]="'forCatalogue-' + element.id" [checked]="element.forCatalogue"> </td>
          </ng-container>

          <ng-container matColumnDef="forDelivery">
            <th mat-header-cell *matHeaderCellDef> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aplica a entregas </th>
            <td mat-cell style="text-align:center" *matCellDef="let element"> <input type="checkbox" [name]="'forDelivery-' + element.id" [id]="'forDelivery-' + element.id" [checked]="element.forDelivery"> </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>

        <mat-paginator [pageSize]="pageParameters.pageSizeTable" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

      <div class="loadingData" *ngIf="pageParameters.pageStatus == 'loading'">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        Cargando datos ...
      </div>
    
      <div class="noData" *ngIf="pageParameters.pageStatus == 'void'">
        No hay datos
      </div>
    </div>

  </form>
  </div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="submit('cancel', $event)">Cancelar</button>
  <button mat-raised-button (click)="submit('save', $event)" [disabled]="submitLoading">
    <mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
    Guardar
  </button>
</div>